
<h1>Google Maps Tut</h1>
<div id="map-container">
  <div id="map-canvas"></div>
</div>
<h2> JSON </h2>
<%= form_tag "bounds", :id => "bounds" do -%>
    Polygon Name: <%= text_area_tag "polygon_name" -%>
    GeoJSON Output: <%= text_area_tag "geojson_array" -%>
    <%= submit_tag "Submit" %>
<% end -%>